html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fcfcfc;
  font-size: larger;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  background-color: #34353a;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
#navbar {
  display: flex;
  padding:5px;
  justify-content: right;
  -webkit-app-region: drag;
  background-color: #52535a;
}
#navbar i {
  cursor:pointer;
  -webkit-app-region: no-drag;
  
}
#task_add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
form#task_form {
  display: flex;

}
form#task_form input, button {
  width: 100%;
}
form#task_form div {
  width: 50%;
}
div#tasks {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}
div.task {
  width:80%;

  border: 1px solid white;
  margin: 10px;
}

div.title {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

div.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
div.dates{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 50%;
  min-width: 50%;
}
div.desc {
  max-width: 50%;
  min-width: 50%;
  text-align: center;
}
div.edit_buttons i {
  cursor: pointer;
}